#map {
  position: absolute;
  margin-left: -255px;
  margin-top: -20px;
  width: 100%;
  height: 100%;
}

#map .leaflet-popup-content-wrapper hr {
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 2px 0 10px 0;
}

#map .leaflet-draw.leaflet-control {
  transform: translate(-6px,40px) scale(1.5);
}

#map .leaflet-control-layers.leaflet-control {
  transform: translate(0px,85px);
}

#collar-list {
  position: absolute;
  z-index: 1000;
  bottom: 2rem;
  right: 1rem;
  font-weight: 800;
  font-size: 2rem;
  color:yellow;
}

#date-picker-grp {
  padding: 10px 5px 10px 20px;
}

.date-div {
  margin-bottom: 15px;
}