@import "styles/colours.scss";
$appearAboveMap: 1001;

.map-container {
  flex: 1 1 auto;
  position: relative;

  // loading indicator
  .progress {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map .leaflet-popup-content-wrapper hr {
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 2px 0 10px 0;
}

#map .leaflet-draw.leaflet-control {
  transform: translate(-6px, 40px) scale(1.5);
}

#map .leaflet-control-zoom.leaflet-control {
  margin: 25px 0 0 16px;
  transform: scale(1.5);
}

#map .leaflet-control-layers.leaflet-control {
  margin: 146px 0 0 8px;
  transform: scale(1) translate(1px, 4px);
}

//
// filter panel
//

.side-panel-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 28rem;
  overflow-y: auto;
}

.side-panel-udf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

// fixed popup
#popup {
  position: absolute;
  background-color: $BCgovGold;
  right: 0;
  padding: 0.5rem;
  font-size: 14px;
}

// Map Bottom Panel
// fixme: last row obscured
.map-bottom-panel {
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .MuiTableContainer-root {
    box-shadow: none;
  }

  #drag {
    height: 24px !important;
    background: #eeeeee;
    border-top: 1px solid #999999;
    cursor: n-resize;
    user-select: none;
  }

  #drag-icon {
    margin-left: auto;
    margin-right: auto;
    width: 24px;
  }
}

// Map Details
.map-detail-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-detail-table-container {
  flex: 1 1 auto;
  // fixme: why?
  overflow-x: hidden;
}

// must be at least this index to appear for full-screen dialog
.appear-above-map {
  z-index: $appearAboveMap;
}

.map-bottom-panel-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  align-items: center;

  button {
    height: 50%;
  }
}

//
// map page html icons
//

// the leaflet icon that is always hidden
.marker-popup {
  visibility: hidden;
}

.map-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.85rem;
  height: 2.85rem;
  z-index: 1000;
  border-radius: 4px;
  cursor: pointer;
  left: 10px;
}

// toggles 3-2D
/*
.map-dimension-btn {
  top: 10px;
}
*/

.map-toggle-pings-btn {
  top: 126px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.map-toggle-tracks-btn {
  top: 173px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.icon-on {
  background-color: $appHeaderColor;
  color: #464646;
}

.icon-off {
  color: $appHeaderColor;
  background-color: #bebebe;
}