@import 'styles/colours.scss';

.map-view {
  display: flex;
  flex-direction: row;
}

.map-container {
  flex: 1 1 auto;
  position: relative;

  // loading indicator
  .progress {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.bottom-panel {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 30rem;
  overflow-y: auto;
  border-left: 1px solid darkslategrey;

  .MuiPaper-elevation1 {
    box-shadow: none;
  }
}

.appear-above-map {
  z-index: 314159;
}

.side-panel {
  width: 20rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  overflow-y: auto;
  div {
    margin-bottom: 0.5rem;
  }
}

.side-panel-export {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.side-panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font: inherit;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map .leaflet-popup-content-wrapper hr {
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 2px 0 10px 0;
}

#map .leaflet-draw.leaflet-control {
  transform: translate(-6px,40px) scale(1.5);
}

#map .leaflet-control-layers.leaflet-control {
  transform: translate(0px,85px);
}

// 
// 

.details-individual-prominent {
  font-weight: bolder !important;
  color: #a62700 !important;
}

.details-multiple {
  width: 100%;
  td > .MuiTableCell-root, .MuiTableCell-body {
    border: none;
    font-family: inherit;
  }
  border: 1px solid rgba(71, 77, 75, 0.1);
}

.details-multiple-row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-multiple-row-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  td > .MuiTableCell-root, .MuiTableCell-body {
    width: 50%;
    margin: auto;
    padding: 0px;
  }
}

.details-multiple-cell-span {
  margin: 0px 20px;
  color: darkslategrey;
  font-weight: bolder;
  width: 100%;
}

.details-multiple-cell-right {
  margin-left: 10px;
}

// map details parent table box
.MuiBox-root-21 {
  padding: 5px !important;
}

.details-bottom {
  .MuiTableContainer-root {
    overflow-x: hidden;
  }
}

.critter-select {
  color: rgba(0, 47, 255, 0.78) !important;
  cursor: pointer;
}