@import 'styles/colours.scss';
$appearAboveMap: 1001;

.map-container {
  flex: 1 1 auto;
  position: relative;

  // loading indicator
  .progress {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map .leaflet-popup-content-wrapper hr {
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 2px 0 10px 0;
}

#map .leaflet-draw.leaflet-control {
  transform: translate(-6px,40px) scale(1.5);
}


#map .leaflet-control-zoom.leaflet-control {
  margin: 90px 0 0 16px;
  transform: scale(1.50);
}

#map .leaflet-control-layers.leaflet-control {
  margin: 28px 0 0 8px;
  transform: scale(1) translate(1px,4px);
}

//
// filter panel
//

.side-panel-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.side-panel-toolbar-closed {
  margin: 0 auto;
}

.side-panel {
  border-right: 2px solid #000;
  overflow-y: auto;

  div {
    margin-bottom: 0.5rem;
  }
  // defaults to 0, cuts off header
  .MuiDrawer-paper {
    top:inherit;
  }
  .MuiDrawer-paperAnchorDockedLeft {
    border: none;
  }
}

.side-panel-dates {
  .MuiFormControl-root.MuiTextField-root:nth-child(odd) {
    margin-right: 0.5rem;
  }
}

.side-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin-right: 10px;
  }
}

.side-panel-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.side-panel-udf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/// fixed popup
#popup {
  position: absolute;
  background-color: $BCgovGold;
  right: 0;
  padding: 0.5rem;
  font-size: 14px;
}

// 
//  bottom panel
// 

.bottom-panel {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #ffffff;

  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .MuiTableContainer-root {
    overflow-x: hidden;
  }
  #drag {
    height: 4px;
    background-color: #808080;
    cursor: n-resize;
  }
}


.bottom-tbl {
  height: 80%;
}

// must be at least this index to appear for full-screen dialog
.appear-above-map {
  z-index: $appearAboveMap;
}

.map-bottom-panel-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  align-items: center;

  button {
    height: 50%;
  }
}

.map-bottom-panel-row {
  width: 100%;
  td > .MuiTableCell-root, .MuiTableCell-body {
    border-bottom: 1px solid #000;
    font-family: inherit;
  }
}

// map details parent table box
.MuiBox-root-21 {
  padding: 5px !important;
}

// the bottom panel table cell that opens the overview modal when clicked
.map-details-clickable-cell {
  // width: 30%; // so the cursor doesn't appear on the whole cell
  color: rgb(58, 164, 255) !important;
  font-weight: 500;
  text-decoration: underline;
}

.map-details-cell-hover {
  cursor: pointer;
}

// hover effect when selecting a point / drawing a shape in map
.bottom-panel-row-is-map-selected {
  background-color: $BCgovGold;
}

//
// map page html icons
// 

// the leaflet icon that is always hidden
.marker-popup {
  visibility: hidden;
}

.map-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.85rem;
  height: 2.85rem;
  z-index: 1000;
  border-radius: 4px;
  cursor: pointer;
  left: 10px;
}

// toggles 3-2D
.map-dimension-btn {
  top: 10px;
}

.map-toggle-pings-btn {
  top: 240px;
}

.map-toggle-tracks-btn {
  top: 295px;
}

.icon-on {
  background-color: $appHeaderColor;
  color: #464646;
}

.icon-off {
  color: $appHeaderColor;
  background-color:#BEBEBE;
}