@import 'styles/colours.scss';

.map-view {
  display: flex;
  flex-direction: row;
}

.map-container {
  flex: 1 1 auto;
  position: relative;

  .progress {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.side-panel {
  width: 30rem;
  padding: 1.5rem;
}

.side-panel-title {
  margin: 0;
  padding: 0;
  font-size: 1.375rem;
}

.results-title {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eeeeee;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map .leaflet-popup-content-wrapper hr {
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 2px 0 10px 0;
}

#map .leaflet-draw.leaflet-control {
  transform: translate(-6px,40px) scale(1.5);
}

#map .leaflet-control-layers.leaflet-control {
  transform: translate(0px,85px);
}

.date-picker-grp {
  padding: 10px 5px 10px 20px;

  div {
    margin-bottom: 10px;
  }
  .MuiInputLabel-root, .MuiInput-root, .MuiInputBase-input, .MuiInput-input {
    color: #ffffff;
  }
}

.tab-header {
  .MuiTabs-flexContainer {
    justify-content: space-around;
  }
  
  .MuiTab-textColorInherit {
    opacity: 1;
  }

  button {
    background-color: $BCgovBlue;
    color: white;
  }
}