@import 'styles/colours.scss';

// dialogs in non-fullscreen have 600px max by default
.dialog-modal {
  .MuiDialog-paperWidthSm {
    max-width: 80%;
  }
}

.MuiAppBar-positionFixed {
  position: relative !important;
}

// on overview pages, make disabled fields normal font color
.Mui-disabled {
  color: inherit;
}

// collar import modal
.link {
  color: rgb(58, 164, 255) !important;
  margin: 1rem 0 !important;
}

.link-hover {
  cursor: pointer;
}

.import-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}