@import 'styles/colours.scss';

// dialogs in non-fullscreen have 600px max by default
.dialog-modal {
  .MuiDialog-paperWidthSm {
    max-width: 80%;
  }
}
.MuiDialog-paperFullScreen {
  background-color: #f1f3f5 !important;
}

.dlg-full-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dlg-full-title {
  padding: 1rem 4rem;
  h1 {
    display: inline;
    margin-right: 1rem;
  }
  h3 {
    display: inline;
    margin-right: 1rem;
  }
}

.dlg-full-sub {
  overflow-y: auto !important;
  .span {
    margin-right: 1rem;
    font-size: larger;
    color: #495057;
  }
  .button_span {
    float:right;
  }
  .button {
    margin-left: 0.5em;
  }
}

.dlg-full-form {
  margin-top: 5px;
}

.dlg-details-section {
  padding: 0.5;
}

.MuiAppBar-positionFixed {
  position: relative !important;
}

// on overview pages, make disabled fields normal font color
.Mui-disabled {
  color: inherit;
}

// udf modal
.udf-table {
  margin-bottom: 0.5rem;
}

// collar import modal
.link {
  color: rgb(58, 164, 255) !important;
  margin: 1rem 0 !important;
}

.link-hover {
  cursor: pointer;
}

.import-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}