/* 
  the root div element in App.tsx is using flex,
  but for some reason causes this 
  canvas to not display at its parent width/height.
*/
#terrain {
  position: absolute;
  margin-left: -255px;
  /* margin-top: -20px; */
  height: 100%;
  width: 100%;
}

.cesium-viewer-bottom {
  display: none;
}

.cesium-viewer {
  margin-left:255px;
  /* width: calc(100% - 255px); */
}
