.table-container {
  width: 100%;
  min-width: 100%;
  max-height: 30rem;
  // min-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
}
.paper {
  width: 100%;
  margin-bottom: 10px;
}
.toolbar {
  padding-left: 2px;
  padding-right: 1px;
}
.title {
  flex: 1 1 100%;
}
.table-footer {
  position: sticky;
  bottom: 0;
  background-color: #ffff;
  width: 100%;
}
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}

.dimmed-cell {
  color:rgba(0, 0, 0, 0.4);
}
/*
.paginate {
  margin-left: 2.5px;
  float: right;
}
*/
