@import 'colours.scss';

.app-footer {
  // border-top: 2px solid $BCgovGold;
  color: $appHeaderColor;
  background-color: $BCgovBlue;
  z-index: 1600;
  font-size: 11px;

  .ul-right {
    padding: 4px 0;
    display: flex;
    justify-content: flex-end;
  }
}