@import 'colours.scss';

.app-footer {
  border-top: 2px solid $BCgovGold;
  color: $appHeaderColor;
  background-color: $BCgovBlue;
  font-size: 13px;

  .ul-right {
    padding: 10px 4px;
    display: flex;
    justify-content: flex-end;
  }

  a:hover {
    text-decoration: underline;
  }

}