@import 'colours.scss';

.app-header {
  border-bottom: 2px solid $BCgovGold;
  color: $appHeaderColor;
  background-color: $BCgovBlue;

  .container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 1rem;
  }
}

.brand {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  color: $appHeaderColor; 
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;

  img {
    margin-right: 1.25rem;
    margin-bottom: 4px;
  }
}

.app-header .brand:hover {
  text-decoration: none;
}

.logout {
  font-size: 1rem;

  a {
    color: $appHeaderColor;
    text-decoration: none;
    font-weight: 400;
  }

}

.profile-nav {
  color: $appHeaderColor;

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  .username {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    padding-right: 1rem;
    border-right: 1px solid $appHeaderColor;

    span {
    /*  margin-left: 0.5rem; */
    }
  }

  .icon {
    color: $appHeaderColor;
  }
}

.app-nav {
  margin-right: auto;
  margin-left: 3rem;

  a {
    color: $appHeaderColor;
    text-decoration: none;
    font-weight: 400;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 2rem;
  }
}

.alerts {
  .MuiButtonBase-root.MuiIconButton-root {
    color: $appHeaderColor;
    font-size: 18px;
  }
}