@import 'colours.scss';

.router-view {
  display: flex;
  flex-direction: row;
}

.app-body {
  position: relative;
  flex: 1 1 auto;
}

.app-body__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#map-view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.sidebar {
  flex: 0 0 15rem;
  border-right: 1px solid #cccccc;
}