@import 'colours.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

.rootEditInput {
  .MuiTextField-root {
    width: 25ch;
  }
}

.editSaveBtn {
  float: right;
}

.editMsgs {
  // marginTop: '-25px', // fixme:
  display: flex;
  flex-direction: row;
  justify-content: center;
}