@import 'colours.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  // justify-content: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

.rootEditInput {
  .MuiTextField-root {
    width: 25ch;
  }
}

.editSaveBtn {
  float: right;
}

.editMsgs {
  // marginTop: '-25px', // fixme:
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-profile {
  padding: 20px 20px;
}

.user-test-swap {
  margin-top: 15px;
}

.user-input-grp {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;

  .MuiInputBase-input {
    margin-bottom: 15px;
  }
}

.admin-btn-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5px;
  justify-content: flex-end;
}