@import 'colours.scss';

.paper-edit {
  padding: 1rem 2rem;
  margin: 1rem;
}

.edit-form-field {
  margin-bottom: 1rem;
  .MuiFormControl-root {
    width: 100%;
  }
}

.edit-form-field-span {
  .MuiFormControl-root {
    width: 50%;
    margin-bottom: 1rem;
  }
  .MuiFormControl-marginNormal {
    margin-top: 0;
    margin-right: 10px;
  }
}

.edit-form-header {
  margin-bottom: 1rem !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

.rootEditInput {
  overflow-y: auto !important;
}

.editSaveBtn {
  float: right;
}

.editMsgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

//
// user
//
.user-profile {
  padding: 20px 20px;
}

.user-test-swap {
  margin-top: 15px;
}

.user-input-grp {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;

  .MuiInputBase-input {
    margin-bottom: 15px;
  }
}

.admin-btn-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5px;
  justify-content: flex-end;
}