  // default 
  .MuiFormControl-root.select-control {
    width: 100%;
    // .Mui-disabled {
    //   color: 'orange'
    // }
  }

  .MuiFormControl-root.udf-select-control {
    width: 85%;
  }

  .MuiFormControl-root.select-control-small {
    width: 25%;
  }

  // todo:
  .input-error {
    .MuiInputBase-root {
      // background-color: #E62600;
      // opacity: 0.3;
    }
  }