.select-control {
  .MuiSelect-select.MuiSelect-select {
    min-width: 120px;
  }
}

// for use in overview pages to display disabled text fields
.text-disabled {
  .MuiInput-underline.Mui-disabled:before {
    border-bottom-style: none;
  }
  .MuiInputBase-input {
    color: #000;
  }
}