  .MuiFormControl-root.select-control {
    width: 100%;
  }

  .MuiFormControl-root.udf-select-control {
    width: 85%;
  }

// for use in overview pages to display disabled text fields
.text-disabled {
  .MuiInput-underline.Mui-disabled:before {
    border-bottom-style: none;
  }
  .MuiInputBase-input {
    color: #000;
  }
}

.select-small {
  min-width: 80px !important;
}