

* {
  box-sizing: border-box;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

html {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// TODO: Refactor Overrides w/o using !important
.MuiTableCell-root {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
}