@import 'fonts.scss';

* {
  box-sizing: border-box;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

html {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// TODO: Refactor Overrides w/o using !important
.MuiTableCell-root,
.MuiButton-label {
  font-family: $fontFamily;
}

.MuiButton-label {
  letter-spacing: 0;
  text-transform: none;
}

:focus {
  outline: 3px solid cornflowerblue;
}

[class^="MuiButton"] {
  &:focus {
    outline: 3px solid cornflowerblue;
  }
}

.MuiTouchRipple-root {
  display: none;
}