@import 'fonts.scss';

* {
  box-sizing: border-box;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

html {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

fieldset {
  border: none;
}

.legend {
  float: left;
  font-weight: 700;
}

.fieldset-form {
  flex: 1 1 auto;
}

// Button Bar 
.button-bar {
  button {
    margin-left: 0.5rem;
  }
}

// Form 
.form-buttons {
  button {
    min-width: 100px;
  }

  button + button {
    margin-left: 0.5rem;
  }
}

// Full Screen Dialog
.MuiDialog-paperFullScreen {
  background: #f1f3f5 !important;
}

// Header Group
.headergroup-dl {
  margin: 0;
  margin-left: 0.5rem;

  dd, dt {
    display: inline-block;
    position: relative;
    margin: 0;
  }

  dt + dd {
    &:before {
      content: '|';
      display: inline-block;
      margin: 0 0.5rem;
    }
  }

  dd {
    margin-right: 0.5rem;
  }
}

// Table Filters
.table-filter-input {
  width: 20rem;
}

.table-filter-select {
  width: 15rem;
  max-width: 15rem;
}

// Table
.row-selected {
  background-color: #daedff;
}

.cell-clickable {
  color: #1A5A96;
  cursor: pointer;
  text-decoration: underline
}

.color-swatch {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}

// Manage Layout
.manage-layout-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}