doctype html

html
  head
    title BC Telemetry Warehouse
    meta(
      name='viewport'
      content='initial-scale=1.0, user-scalable=no'
    )
    style(type='text/css').
      .center-this {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;
        align-items: center;
        justify-items: center;
      }
      .message {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 16px;
        color: #063674;
      }

  body
    .center-this
      .message
        include logo.pug
        .line Sorry, you don't have access to this site.
        .line Contact Nicola Dodd (Nicola.Dodd@gov.bc.ca) for further information.
