body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center {
  transform: translate(0,-30px);
}
.title {
  font-size: 24px;
  font-weight: bolder;
}
a.btn {
  margin-left: 20rem;
}
p.desc {
  font-size: 16px;
  display: block;
  text-align: left;
  max-width: 28rem;
  margin-bottom: 3rem;
  transform: translate(10px,0);
}
img {
  transform: scale(0.7) translate(-10px,40px);
}